@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(36, 36, 36);
}

.rounded-box {
  border-radius: 10px; /* You can adjust the value to control the roundness */
  padding: 5px; /* Optional: Add padding for better visual appearance */
  background-color: #707070; /* Optional: Set background color */
  margin-right: 0.5%;
  color: aliceblue;
}

/* Apply rounded edges to a button */
.rounded-button {
  border-radius: 10px; /* You can adjust the value to control the roundness */
  padding: 5px; /* Optional: Add padding for better visual appearance */
  background-color: #00fd61; /* Optional: Set background color */
  color: #00fd61; /* Optional: Set text color */
  cursor: pointer; /* Optional: Add pointer cursor for better interaction */
  width: 45px;
  height: 45px;
  display: inline-block;
}

.player-input {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.player-card-box {
  border-radius: 10px; /* You can adjust the value to control the roundness */
  padding: 5px; /* Optional: Add padding for better visual appearance */
  background-color: #707070; /* Optional: Set background color */
  margin-right: 0.5%;
  color: aliceblue;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 75px;
  align-items: center; 
  margin-top: 50px;
}

/* Optional styling for better visual appearance */
.player-cards {
  display: flex;
  flex-direction: column; /* Display children vertically */
  align-items: center; /* Align children to the start (left) */
  justify-content: center;
  margin-top: 3%;
}

.link-card-box {
  display: flex;
  flex-direction: column; /* Display children vertically */
  align-items: center; /* Align children to the start (left) */
  justify-content: center;
}

.team-card-box {
  border-radius: 10px; /* You can adjust the value to control the roundness */
  padding: 5px; /* Optional: Add padding for better visual appearance */
  background-color: #4b4a4a; /* Optional: Set background color */
  margin-right: 0.5%;
  color: aliceblue;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 50px;
  align-items: center; 
  margin-top: 50px;
  font-size:medium;
  text-align: center;
}

.team-card-name {
  padding: 5px
}

.team-card-x {
  padding: 5px;
  margin-left: 5px;
}

.message-popup-container {
  display: flex;
  flex-direction: row; /* Display children vertically */
  align-items: center; /* Align children to the start (left) */
  justify-content: center;
}

.message-popup-content {
  border-radius: 10px; /* You can adjust the value to control the roundness */
  padding: 5px; /* Optional: Add padding for better visual appearance */
  background-color: #707070; /* Optional: Set background color */
  color: aliceblue;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 60px;
  align-items: center; 
  margin-top: 15px;
  white-space: pre-line;
  text-align: center;
}

.message-popup-close {
  margin-bottom: 2%;
  color:aliceblue;
}

.game-header-container {
  display: flex;
  flex-direction: row; /* Display children vertically */
  align-items: center; /* Align children to the start (left) */
  justify-content: center;
  padding: 5px;
  margin-top: 2%;
}

.game-player, .game-timer {
  padding: 5px;
}

.game-header-spacer {
  width: 200px;
}